{% extends 'base.html' %}

{% block content %}
    <h1>Atividades avaliativas</h1>
     <div id='chamadaacord'>
        <div>
            Disciplinas e turmas
        </div>
        <div><center>
            <table border="0">
                <tr>
                    <td style="width: 72px;">Selecione um ano:</td>
                    <td>Disciplina</td>
                </tr>
                <tr>
                    <td><div id="ano"></div></td>
                    <td><div id="turma"></div></td>
                    <td style="padding-left: 20px;"><input type="button" value="Atividades" id="btnchamada" /> </td>
                </tr>
            </table>
            </center>
        </div>
        <div>
            Atividades
        </div>
        <div>
            <center>
                <h1><div id="disciplinasel"></div></h1>
                <br />
                <div id="saveprogress"></div>
                <div id="savemessage"></div>
                <div id="savemessageError"></div>

           <table>
               <tr>
{#                   <td>#}
{#                       <fieldset>#}
{#                           <legend>Bimestre</legend>#}
{#                           <div id="bimestre"></div>#}
{#                   </fieldset>#}
{#                   </td>#}
                   <td style="vertical-align: top;">
                       <table>
                           <tr>
                               <td style="vertical-align: bottom">
                               </td>
                           </tr>
                           <tr>
                               <td colspan="3"><br /></td>
                           </tr>
                           <tr>
                               <td colspan="3">
                                <fieldset>
                                  <legend>Ações:</legend>
                                  <input type="button" id="btnNewAtividade" value="Nova Atividade"/>
                                  <input type="button" id="btnEdit" value="Editar"/>
                                  <input type="button" id="btnNotas" value="Notas"/>
                                  <input type="button" id="btnRemover" value="Remover"/>
                               </fieldset>
                               </td>
                           </tr>
                           <tr >
                               <td colspan="3" style="padding-top: 15px;"><div id="atividadesgrid"></div></td>
                           </tr>
                       </table>
                   </td>
               </tr>

           </table>
          </center>
        </div>


        <div>
            Nota das atividades avaliativas bimestrais/semestrais
        </div>
        <div style="padding: 10px;">
            <center><h1><div id="disciplinanota"></div></h1></center>
            <input type="button" id="btnSalvarNotas" value="Salvar" />
            <br />
            <br />
            <div id="gridnotas"></div>
        </div>
    </div>

        <div id="removerAtiv">
         <div id="windowHeader">
             <span>
                Remover uma atividade e todas as notas inseridas.
             </span>
         </div>

         <div style="overflow: hidden; padding: 15px;" id="windowContent">
             <h4>Você deseja remover a atividade <div id="atividaderemove"></div> do seu diário?</h4>
            <input  type="button" id="btnSim" value="Sim" /> <input  type="button" id="btnNao" value="Não" />
             <br />
         </div>
      </div>


       <div id="AddAtividadeW">
         <div id="windowHeader">
             <span>
                Adicionar uma Atividade avaliativa
             </span>
         </div>

         <div style="overflow: hidden; padding: 15px;" id="windowContent">

             <table>
                 <tr>
                     <td>Tipo da atividade:</td>
                     <td><div id="tipo"></div></td>
                 </tr>
                 <tr>
                     <td>Forma de calcular:</td>
                     <td><div id="calculo"></div></td>
                 </tr>
                 <tr>
                     <td>Bimestre:</td>
                     <td><div id="bimestreAtiv"></div></td>
                 </tr>
                 <tr>
                     <td>Descricao da atividade:</td>
                     <td><input type="text" id="descricao" name="descricao" /></td>
                 </tr>
                 <tr>
                     <td>Data:</td>
                     <td><div id="dataInicio"></div> </td>
                 </tr>
                 <tr id="ldatafim">
                     <td>Entregar até o dia:</td>
                     <td><div id="dataFim"></div> </td>
                 </tr>
                 <tr >
                     <td></td>
                     <td style="padding-top: 10px;"><input type="button" id="addAtividade" value="Adicionar Atividade" /> </td>
                 </tr>
                 <tr>
                     <td></td>
                     <td> <div id="imgloading"> Salvando... <img src="/static/images/ajax-loader.gif"  /> </div> <div id="mensagemextra"></div> </td>
                 </tr>
             </table>
         </div>
      </div>

    <script language="javascript">
        var anos = new Array();
        var data = new Date();

        for(var i=data.getFullYear()-10; i<=data.getFullYear(); i++)
        {
            anos.push(i);
        }

        var rowAtrib = -1;
        var rowDia = -1;
        var idAtrib = -1;

        var IDdia = -1;
        var quanti = -1;

        var rowStChamada= -1;
        var rowAtividades = -1;

        var idAtividadeEdit = -1;



        $(document).ready(function() {

            $("#saveprogress").jqxProgressBar({ width: 250, height: 15, value: 0, showText:true, orientation: 'horizontal'});

            var tipoArr = ['Prova',  'Trabalho', 'Recuperação Bimestral', 'Prova Final', 'Atitudinal', 'Outra'];
            $("#tipo").jqxDropDownList({source: tipoArr, width: '200', height: '25'});

            var calculoArr = ['Média', 'Soma'];
            $("#calculo").jqxDropDownList({source: calculoArr, width: '70', height: '25'});

            $("#mensagemextra").hide();


            var bimestreAtivarr = ['1', '2', '3', '4', 'PF'];
            $("#bimestreAtiv").jqxDropDownList({source: bimestreAtivarr, width: '70', height: '25'});

            $("#addAtividade").jqxButton();
            $("#btnSalvarNotas").jqxButton();
            $("#btnNewAtividade").jqxButton();

            $("#btnSalvarNotas").on('click', function(){
                var rows = $('#gridnotas').jqxGrid('getrows');

                var rowpercent = 100/rows.length;
                var atual = 0;
                $("#saveprogress").jqxProgressBar({ value: atual});
                $("#savemessage").html('Salvando....');

                for(var i=0; i<rows.length; i++){

                    $.ajax({
                        url:  "/salvarNotasAtivs",
                        cache: false,
                        data: {
                            'id': rows[i].id,
                            'nota0': rows[i].nota0,
                            'nota1': rows[i].nota1,
                            'nota2': rows[i].nota2 ,
                            'nota3': rows[i].nota3,
                            'nota4': rows[i].nota4,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        type: "POST",
                        datatype: 'json',
                        success: function(response) {
                            atual = atual + rowpercent;
                            console.log('Salvando '+atual);
                            $("#saveprogress").jqxProgressBar({ value: atual});
                            console.log('Porcentagem: '+$("#saveprogress").val()+"%");
                            if($("#saveprogress").val()>=100) {
                                $("#savemessage").html('<h4>Chamada salva com sucesso!!!</h4>');

                                setTimeout(function(){
                                       $("#savemessage").html('');
                                       $("#saveprogress").jqxProgressBar({ value: 0});
                                 }, 2000);
                            }
                            var respint = parseInt(response);

                            if (respint == -1){
                                $("#savemessageError").html('<h2>Erro ao salvar as notas!!!</h2>');
                                setTimeout(function(){
                                       $("#savemessageError").html('');
                                 }, 10000);
                            }
                        }
                    });
                }

                $("#chamadaacord").jqxNavigationBar('expandAt', 1);
            });



            $("#btnNewAtividade").on('click', function(){
                    $("#imgloading").hide();
                    $("#AddAtividadeW").jqxWindow('open');
                    $("#calculo").jqxDropDownList('val', 'Média');
                    $("#bimestreAtiv").jqxDropDownList('val', 1);
                    $("#tipo").jqxDropDownList('val', 'Prova');
                    $("#descricao").val('');
                    $("#ldatafim").hide();
                    $("#addAtividade").val('Adicionar Atividade');
                    idAtividadeEdit = -1;
            });

            $("#tipo").on('change', function (event) {

                if($("#tipo").val()=='Trabalho' ) {
                    $("#ldatafim").show();
                } else {
                    $("#ldatafim").hide();
                }
            });

            function fillAtivis()
            {

                var url = "/listAtividades";
                // prepare the data
                var source2 =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'id'},
                        { name: 'descricao'},
                        { name: 'tipo'},
                        { name: 'dataInicio'},
                        { name: 'dataFim'},
                        { name: 'calculo'},
                        { name: 'bimestre'},
                    ],
                    data: {
                        'idAtrib': idAtrib,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: 'POST',
                    url: url,
                    async: false
                };
                var dataAdapter2 = new $.jqx.dataAdapter(source2);

                $("#atividadesgrid").jqxGrid(
                {
                    width: 885,
                    height: 400,
                    source: dataAdapter2,
                    columns: [
                        { text: 'ID', datafield: 'id', width: 0, hidden: true },
                        { text: 'Descricao', datafield: 'descricao', width: 385 },
                        { text: 'Bimestre', datafield: 'bimestre', width: 80 },
                        { text: 'Tipo', datafield: 'tipo', width: 170 },
                        { text: 'Dt. Inicio', datafield: 'dataInicio', width: 90 },
                        { text: 'Dta. Fim', datafield: 'dataFim', width: 90 },
                        { text: 'Calculo', datafield: 'calculo', width: 60 },
                    ]
                });

                $('#atividadesgrid').jqxGrid('hidecolumn', 'id');

                $('#atividadesgrid').on('rowselect', function (event){
                    rowAtividades = event.args.rowindex;
                });
            }


            $("#addAtividade").on('click', function(){
                $("#imgloading").show();

                $.ajax({
                    url:  "/criarAtividade",
                    cache: false,
                    data:{
                        'idAtrib': idAtrib,
                        'idAtividadeEdit': idAtividadeEdit,
                        'descricao': $("#descricao").val(),
                        'calculo': $("#calculo").val(),
                        'dataInicio': $("#dataInicio").val(),
                        'dataFim': $("#dataFim").val(),
                        'bimestre': $("#bimestreAtiv").val(),
                        'tipo': $("#tipo").val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    } ,
                    type: "POST",
                    datatype: 'json',
                    success: function(response) {
                        var respint = parseInt(response);

                        if(respint == 1) {
                            console.log('Aluno cadastrado com sucesso!');
                            $("#mensagemextra").html('<h3>Atividade salva com sucesso!!!</h3>');
                            $("#mensagemextra").show();
                            fillAtivis();
                            setTimeout(function(){
                                   $("#AddAtividadeW").jqxWindow('close');
                                   $("#mensagemextra").html('');
                                   $("#mensagemextra").hide();
                             }, 3000);
                        } else {

                            $("#mensagemextra").html('<h3>Erro do salvar a atividade!!!</h3>');
                            $("#mensagemextra").show();

                            setTimeout(function(){
                                   $("#AddAtividadeW").jqxWindow('close');
                                   $("#mensagemextra").html('');
                                   $("#mensagemextra").hide();
                             }, 3000);

                            console.log('Erro ao cadastrar aluno');
                        }
                   }
                });
            });

            $("#descricao").jqxInput({  width: '300px', height: '20px' });
            $("#dataInicio").jqxDateTimeInput({ width: '250px', height: '25px' });
            $("#dataFim").jqxDateTimeInput({ width: '250px', height: '25px' });


            $("#DataContent").show();
            $("#btnRemover").jqxButton();
            $("#btnSim").jqxButton();
            $("#btnNao").jqxButton();
            $("#btnEdit").jqxButton();
            $("#btnEdit").on('click', function(){
                idAtividadeEdit = $('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "id");
                $("#descricao").val($('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "descricao"));
                $("#tipo").val($('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "tipo"));
                var data = $('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "dataInicio");

                var newData = data.split('/')[1]+'/'+data.split('/')[0]+'/'+data.split('/')[2];

                $("#dataInicio").val(newData);

                if($("#tipo").val() == 'Trabalho') {
                    var dataf = $('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "dataFim");
                    var newDataf = dataf.split('/')[1]+'/'+dataf.split('/')[0]+'/'+dataf.split('/')[2];
                    console.log('Nova datafim: '+ newDataf);
                    $("#dataFim").val(newDataf);
                    $("#ldatafim").show();
                } else {
                    $("#dataFim").val(newData);
                }
                $("#calculo").val($('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "calculo"))
                $("#bimestreAtiv").val($('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "bimestre"))

                $("#imgloading").hide();
                $("#AddAtividadeW").jqxWindow('open');
                $("#addAtividade").val('Salvar Atividade');

            });



            $("#btnNotas").jqxButton();
            $("#btnNotas").on('click', function(evt){
                $("#chamadaacord").jqxNavigationBar('expandAt', 2);
                fillNotas();

            });



            $("#btnRemover").on('click', function(){
                $("#atividaderemove").html('Descrição: '+$('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "descricao")+'<br /> tipo: '+$('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "tipo")+"<br />Data Inicio "+$('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "dataInicio")+"<br />Bimestre: "+$('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "bimestre"));
                $("#removerAtiv").jqxWindow('open');
            });

            $("#btnNao").on('click', function(){
                $("#removerAtiv").jqxWindow('close');
            });


            $("#btnSim").on('click', function() {
                $.ajax({
                    url:  "/removeAtiv",
                    cache: false,
                    data:{
                        'idativ': $('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "id"),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    } ,
                    type: "POST",
                    datatype: 'json',
                    success: function(response) {
                        var respint = parseInt(response);

                        if(respint == 1) {
                            fillAtivis();
                            $("#removerAtiv").jqxWindow('close');
                        } else {
                           alert('Erro ao remover este registro!');
                        }
                   }
                });

            });

            $("#AddAtividadeW").hide();
            $("#AddAtividadeW").jqxWindow({ width: 500, height: 400 });

            // Janela para remover um dia!!!
            $("#removerAtiv").hide();
            $("#removerAtiv").jqxWindow({ width: 500, height: 200 });


            $("#ano").jqxListBox({source: anos, width: '70', height: '350'});
            $("#chamadaacord").jqxNavigationBar({ width: 900, height: 700});

            $("#btnchamada").on('click', function(event) {
                 $("#chamadaacord").jqxNavigationBar('expandAt', 1);
                 $("#disciplinasel").html($('#turma').jqxGrid('getcelltextbyid', rowAtrib, "nome"));

                idAtrib = $('#turma').jqxGrid('getcelltextbyid', rowAtrib, "id");

                  // get quantidade de bimestres
                  $.ajax({
                      url:  "/quantBimestre",
                      data: {
                          "idatrib": $('#turma').jqxGrid('getcelltextbyid', rowAtrib, "id"),
                          csrfmiddlewaretoken: '{{ csrf_token }}'
                      },
                      cache: false,
                      type: "POST",
                      datatype: 'json',
                      async: false,
                      success: function(response) {
                          var respint = parseInt( response );
                          var quantBi = new Array();

                          for( var i=1; i<=respint; i++) {
                              quantBi.push( i );
                          }
                          quantBi.push('PF');

{#                          $("#bimestre").jqxListBox({source: quantBi, width: '150', height: '250'});#}
                          $("#bimestreAtiv").jqxDropDownList({source: quantBi, width: '150', height: '25'});
                    }
                });
                fillAtivis();
            });


            function fillNotas()
            {

                var showAtid = true;
                var digi = 2;
                var max = 10;
                console.log("Tipo atividade: "+$('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "tipo"));

                if($('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "tipo")=='Atitudinal') {
                    showAtid = false;
                    var digi = 1;
                    var max = 0.5;
                } else {
                    showAtid = true;
                }

                var url = "/getAlunosAtivs";
                // prepare the data
                var source2 =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'id'},
                        { name: 'nome', type: 'string'},
                        { name: 'nota0', type: 'number'},
                        { name: 'nota1', type: 'number'},
                        { name: 'nota2', type: 'number'},
                        { name: 'nota3', type: 'number'},
                        { name: 'nota4', type: 'number'},
                    ],
                    data: {
                       'idativ': $('#atividadesgrid').jqxGrid('getcelltextbyid', rowAtividades, "id"),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: 'POST',
                    url: url,
                    async: false
                };
                var dataAdapter2 = new $.jqx.dataAdapter(source2);

                $("#gridnotas").jqxGrid(
                {
                    width: 880,
                    height: 500,
                    editable: true,
                    enabletooltips: true,
                    selectionmode: 'multiplecellsadvanced',
                    source: dataAdapter2,
                    columns: [
                        { text: 'ID', datafield: 'id', width: 0, hidden: true },
                        { text: 'Name', datafield: 'nome', editable: false, width: 450 },
                        { text: 'Nota 0', datafield: 'nota0', width: 80, align: 'right', cellsalign: 'right', width: 60, cellsformat: 'f', columntype: 'numberinput',
                            createeditor: function (row, cellvalue, editor) {
                                  editor.jqxNumberInput({ digits: digi, min: 0, max: max  });
                              }
                        },
                        { text: 'Nota 1', datafield: 'nota1', width: 80, align: 'right', hidden: showAtid, cellsalign: 'right', width: 60, cellsformat: 'f', columntype: 'numberinput',
                            createeditor: function (row, cellvalue, editor) {
                                  editor.jqxNumberInput({ digits: 1, min: 0, max: 0.5  });
                              }
                        },
                        { text: 'Nota 2', datafield: 'nota2', width: 80, align: 'right', hidden: showAtid, cellsalign: 'right', width: 60, cellsformat: 'f', columntype: 'numberinput',
                            createeditor: function (row, cellvalue, editor) {
                                  editor.jqxNumberInput({ digits: 1, min: 0, max: 0.5  });
                              }
                        },
                        { text: 'Nota 3', datafield: 'nota3', width: 80, align: 'right', hidden: showAtid, cellsalign: 'right', width: 60, cellsformat: 'f', columntype: 'numberinput',
                            createeditor: function (row, cellvalue, editor) {
                                  editor.jqxNumberInput({ digits: 1, min: 0, max: 0.5  });
                              }
                        },
                        { text: 'nota 4', datafield: 'nota4', width: 80, align: 'right', hidden: showAtid, cellsalign: 'right', width: 60, cellsformat: 'f', columntype: 'numberinput',
                            createeditor: function (row, cellvalue, editor) {
                                  editor.jqxNumberInput({ digits: 1, min: 0, max: 0.5  });
                              }
                        },
                    ]
                });

                $('#gridnotas').jqxGrid('hidecolumn', 'id');
            }


            function filAtribuicoes()
            {
                var url = "/chamadaDisc";
                // prepare the data
                var source2 =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'id'},
                        { name: 'nome', type: 'string'},
                        { name: 'turma', type: 'string'},
                        { name: 'curso', type: 'string'},
                    ],
                    data: {
                        'ano': $("#ano").val(),
                        'idprof': 6,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: 'POST',
                    url: url,
                    async: false
                };
                var dataAdapter2 = new $.jqx.dataAdapter(source2);


                $("#turma").jqxGrid(
                {
                    width: 700,
                    height: 350,
                    source: dataAdapter2,
                    columns: [
                        { text: 'ID', datafield: 'id', width: 0, hidden: true },
                        { text: 'Name', datafield: 'nome', width: 250 },
                        { text: 'Turma', datafield: 'turma', width: 50 },
                        { text: 'Curso', datafield: 'curso', width: 400 },
                    ]
                });

                $('#turma').jqxGrid('hidecolumn', 'id');
                $('#turma').on('rowselect', function (event){
                    rowAtrib = event.args.rowindex;
                });
            }

            $("#ano").on('change', function(evt){
                filAtribuicoes();
            });
            $("#btnchamada").jqxButton({ height: 50});

            // Seta como o ano atual
            $("#ano").val(data.getFullYear());
        });
    </script>


{% endblock %}