{% extends 'base.html' %}

{% block content %}

        <h1>Cursos</h1>
        <table border="0">
        <tr>
            <td style="padding-right: 10px;"> <input type='button' id="edit" value="Edit" /></td>
            <td><input type='button' id="novo" value="Novo" /></td>
        </tr>
       </table>

        <br />
        <br />
        <script>
             $("#edit").jqxButton({width: 50});
             $("#novo").jqxButton({width: 50});
             var rowIndex = -1;

            $(document).ready(function () {
                 var url = "/geCourses";
                // prepare the data
                var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'id'},
                        { name: 'nome'},
                        { name: 'anoGrade'}
                    ],
                    url: url,
                    async: false
                };
                var dataAdapter = new $.jqx.dataAdapter(source);

                $("#jqxgrid").jqxGrid(
                    {
                        width: 780,
                        source: dataAdapter,
                        columns: [
                          { text: 'ID', datafield: 'id', width: 0 },
                          { text: 'Name', datafield: 'nome', width: 550 },
                          { text: 'Ano Grade', datafield: 'anoGrade', width: 150 }
                        ]
                    });

                $('#jqxgrid').on('rowselect', function (event)
                {
                    rowIndex = event.args.rowindex;
                });


                 $("#edit").bind('click', function () {
                    var text = $('#jqxgrid').jqxGrid('getcelltextbyid', rowIndex, "id");

                     if( text) {
                         window.location = "./cursocad/" + text;
                     } else {
                         alert('selecione uma linha!');
                     }

                   //alert('text: '+ text);
                })
                 ;$("#novo").bind('click', function () {
                    window.location = "./cursocad/";
                });

                $('#jqxgrid').jqxGrid('hidecolumn', 'id');
            }); // end document ready
        </script>

        <div id='jqxWidget'>
        <div id="jqxgrid"></div>
    </div>
{% endblock %}