{% extends 'base.html' %}

{% block content %}
    <h1>Minhas Atividades</h1>
        <div>
            <center>
            <table border="0">
                <tr>
                    <td colspan="2"><div id="minhasmatriculas"></div></td>
                </tr>
                <tr>
                    <td style="width: 72px;">Turmas</td>
                </tr>
                <tr>
                    <td style="vertical-align: top;"><div id="minhasturmas"></div></td>
                    <td  style="vertical-align: top;"><div id="minhasdisc"></div></td>
                </tr>
                <tr>
                    <td style="vertical-align: top;" colspan="2"><div id="faltaslist"></div></td>
                </tr>
            </table>
            </center>
        </div>

    <script language="javascript">
        var anos = new Array();
        var data = new Date();

        for(var i=data.getFullYear()-10; i<=data.getFullYear(); i++)
        {
            anos.push(i);
        }

        var rowAtrib = -1;
        var rowDia = -1;

        var IDdia = -1;
        var quanti = -1;

        var rowStChamada= -1;

        var rowMatri = -1;
        var rowTurma = -1;
        var rowDisc = -1;

        $(document).ready(function() {
             var url = "/MinhasMatriculas";
            // prepare the data
            var source2 =
            {
                datatype: "json",
                datafields: [
                    { name: 'id'},
                    { name: 'idcurso'},
                    { name: 'nome'},
                    { name: 'anograde'},
                    { name: 'datamat', type: 'date'},
                    { name: 'atual'}
                ],
                type: 'GET',
                url: url,
                async: false
            };
            var dataAdapter = new $.jqx.dataAdapter(source2);


            $("#minhasmatriculas").jqxGrid(
                {
                    width: 800,
                    height: 100,
                    source: dataAdapter,
                    columns: [
                      { text: 'ID', datafield: 'id', hidden: true },
                      { text: 'ID', datafield: 'idcurso', hidden: true },
                      { text: 'Curso', datafield: 'nome', width: 500, editable: false },
                      { text: 'Ano Grade', datafield: 'anograde', width: 80, editable: false },
                      { text: 'Data de Matrícula', datafield: 'datamatdatamat', columntype: 'datetimeinput', cellsformat: 'dd/MM/yyyy'},
                      { text: 'Atual?', datafield: 'atual', width: 60, editable: false,  columntype: 'checkbox' },
                    ]
                }
            );

            $('#minhasmatriculas').jqxGrid('hidecolumn', 'id');

            $('#minhasmatriculas').on('rowselect', function (event){
                rowMatri = event.args.rowindex;
                fillTurmas();
            });

            function fillDisciplinas()
            {
                // preenchendo os dados da turma
                $("#minhasdisc").jqxGrid('clear');
                var url = "/MinhasDisciplinas";
                // prepare the data
                var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'id'},
                        { name: 'nome'},
                        { name: 'professor'},
                        { name: 'periodo'}
                    ],
                    data: {
                        'idturma': $('#minhasturmas').jqxGrid('getcelltextbyid', rowTurma, "id"),
                         csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: 'POST',
                    url: url,
                    async: false
                };
                var dataAdapter = new $.jqx.dataAdapter( source );

                $("#minhasdisc").jqxGrid(
                    {
                        width: 700,
                        height: 200,
                        source: dataAdapter,
                        columns: [
                          { text: 'ID', datafield: 'id', hidden: true },
                          { text: 'Nome', datafield: 'nome', width: 350, editable: false },
                          { text: 'Professor', datafield: 'professor', width: 250, editable: false },
                          { text: 'Periodo', datafield: 'periodo', width: 70, editable: false }
                        ]
                    }
                );
                $('#minhasdisc').jqxGrid('hidecolumn', 'id');
                $('#minhasdisc').on('rowselect', function (event)
                {
                    rowDisc = event.args.rowindex;
                    fillAtivs()
                });
            }


            function fillAtivs()
            {
                // preenchendo os dados da turma
                $("#faltaslist").jqxGrid('clear');
                var url = "/MinhasAtividadesl";
                // prepare the data
                var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'descricao'},
                        { name: 'dataInicio'},
                        { name: 'dataFim'},
                        { name: 'bimestre'},
                        { name: 'tipo'},
                        { name: 'nota0'},
                        { name: 'nota1'},
                        { name: 'nota2'},
                        { name: 'nota3'},
                    ],
                    data: {
                        'discId': $('#minhasdisc').jqxGrid('getcelltextbyid', rowDisc, "id"),
                         csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: 'POST',
                    url: url,
                    async: false
                };
                var dataAdapter = new $.jqx.dataAdapter( source );

                $("#faltaslist").jqxGrid(
                    {
                        width: 880,
                        height: 400,
                        source: dataAdapter,
                        columnsresize:true,
                        columns: [
                          { text: 'Descricao', datafield: 'descricao', width: 250, editable: false },
                          { text: 'Inicio.', datafield: 'dataInicio', width: 110, editable: false },
                          { text: 'Entrega(trabalhos)', datafield: 'dataFim', width: 125, editable: false },
                          { text: 'Bim.', datafield: 'bimestre', width: 40, editable: false },
                          { text: 'Tipo', datafield: 'tipo', width: 170, editable: false },
                          { text: 'Nt.0', datafield: 'nota0', width: 40, editable: false },
                          { text: 'Nt.1', datafield: 'nota1', width: 40, editable: false },
                          { text: 'Nt.2', datafield: 'nota2', width: 40, editable: false },
                          { text: 'Nt.3', datafield: 'nota3', width: 40, editable: false },
                        ]
                    }
                );
            }


            function fillTurmas()
            {
                // preenchendo os dados da turma
                $("#minhasturmas").jqxGrid('clear');
                var url = "/MinhasTurmas";
                // prepare the data
                var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'id'},
                        { name: 'letra'},
                        { name: 'ano'}
                    ],
                    data: {
                        'idcurso': $('#minhasmatriculas').jqxGrid('getcelltextbyid', rowMatri, "idcurso"),
                         csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: 'POST',
                    url: url,
                    async: false
                };
                var dataAdapter = new $.jqx.dataAdapter( source );

                $("#minhasturmas").jqxGrid(
                    {
                        width: 100,
                        height: 150,
                        source: dataAdapter,
                        columns: [
                          { text: 'ID', datafield: 'id', hidden: true },
                          { text: 'Letra', datafield: 'letra', width: 40, editable: false },
                          { text: 'Ano', datafield: 'ano', width: 60, editable: false }
                        ]
                    }
                );
                $('#minhasturmas').jqxGrid('hidecolumn', 'id');



                $('#minhasturmas').on('rowselect', function (event)
                {
                    rowTurma = event.args.rowindex;
                    fillDisciplinas();
                });
            }

        });
    </script>


{% endblock %}