{% extends 'base.html' %}

{% block content %}

        <form method="POST">
            <div id='infosgerais' style=" font-size: 13px; font-family: Verdana;">
                <div style=''>
                    <h3>Informações Gerais</h3></div>
                <!--Content-->
                <div style='white-space: nowrap;'>
                    <table border="0">
                        <tr>
                            <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Nome: </div></td>
                            <td><input type="text" id="nome" name='nome' /></td>
                        </tr>
                        <tr>
                            <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Mãe: </div></td>
                            <td><input type="text" id="mae" name='mae' /></td>
                        </tr>
                        <tr>
                            <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Pai: </div></td>
                            <td><input type="text" id="pai" name='pai' /></td>
                        </tr>
                        <tr>
                            <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Nascimento: </div></td>
                            <td><input type="text" id="nascimento" name='nascimento' /></td>
                        </tr>
                         <tr>
                            <td><div style='font-size: 13px; font-family: verdana; '>Nacionalidade: </div></td>
                            <td><input type="text" id="nacionalidade" name='nacionalidade' /></td>
                        </tr>
                        <tr>
                            <td><div style='font-size: 13px; font-family: verdana; '>Naturalidade: </div></td>
                            <td><input type="text" id="naturalidade" name='naturalidade' /></td>
                        </tr>
                    </table>
                </div>
            </div>

        <br />
            <table border="0">
                <tr>
                    <td style="vertical-align: top;">
                        <div id='contato' style=" font-size: 13px; font-family: Verdana;">
                            <div style=''>
                                <h3>Informações para Contato</h3></div>

                            <div style='white-space: nowrap;'>
                                <table border="0">
                                    <tr>
                                        <td style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Telefone: </div></td>
                                        <td><input type="text" id="telefone1" name='telefone1' /></td>
                                    </tr>
                                    <tr>
                                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Telefone: </div></td>
                                        <td><input type="text" id="telefone2" name='telefone2' /></td>
                                    </tr>

                                    <tr>
                                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Estado: </div></td>
                                        <td> <div id="estado" ></div>

                                    </tr>
                                    <tr>
                                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Cidade: </div></td>
                                        <td><div id="cidade"></div> </td>
                                    </tr>

                                    <tr>
                                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Bairro: </div></td>
                                        <td><div id="bairro"></div> </td>
                                    </tr>

                                    <tr>
                                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Rua: </div></td>
                                        <td><div id="ruatemp"><input type="text" id="rua" name='rua' /></div></td>
                                    </tr>
                                    <tr>
                                        <td><div style='font-size: 13px; font-family: verdana; '>Número: </div></td>
                                        <td><input type="text" id="numero" name='numero' /></td>
                                    </tr>
                                    <tr>
                                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>CEP: </div></td>
                                        <td><input type="text" id="cep" name='cep' /></td>
                                    </tr>
                                    <tr>
                                        <td><div style='font-size: 13px; font-family: verdana; '>Complemento: </div></td>
                                        <td><input type="text" id="complemento" name='complemento' /></td>
                                    </tr>
                                    <tr>
                                        <td><div style='font-size: 13px; font-family: verdana; '>E-mail: </div></td>
                                        <td><input type="text" id="email" name='email' /></td>
                                    </tr>
                                    <tr>
                                        <td><div style='font-size: 13px; font-family: verdana; vertical-position: top; '>Observações: </div></td>
                                        <td><textarea id="observacoes" name='observacoes'></textarea></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: top;">
                        <div id='docs' style=" font-size: 13px; font-family: Verdana;">
                            <div style=''>
                                <h3>Documentos</h3></div>

                            <div style='white-space: nowrap;'>
                                <table border="0">
                                    <tr>
                                        <td><div style='font-size: 13px; font-family: verdana; '>RG: </div></td>
                                        <td><input type="text" id="rg" name='rg' /></td>
                                    </tr>
                                    <tr>
                                        <td><div style='font-size: 13px; font-family: verdana; '>Orgao Expeditor: </div></td>
                                        <td><input type="text" id="orgaoexp" name='orgaoexp' /></td>
                                    </tr>
                                    <tr>
                                        <td><div style='font-size: 13px; font-family: verdana; '>CPF/CNPJ: </div></td>
                                        <td><input type="text" id="cpfcnpj" name='cpfcnpj' /></td>
                                    </tr>

                                    <tr>
                                        <td><div style='font-size: 13px; font-family: verdana; '>Tipo Conta: </div></td>
                                        <td><div id="tipo" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>


            <br />




            <br />
            <br />

            <input id="submit" type="button" value="Salvar" />
        </form>
        </p>

        <script type="text/javascript">

         $(document).ready(function () {

                 $("#submit").jqxButton();
                 $("#nome").jqxInput({  width: '400px', height: '20px' });
                 $("#mae").jqxInput({  width: '400px', height: '20px' });
                 $("#pai").jqxInput({  width: '400px', height: '20px' });

                  $("#nascimento").jqxMaskedInput({ width: 100, height: 25, mask: '##/##/####'});
                  $("#telefone1").jqxMaskedInput({ width: 120, height: 25, mask: '(##) #####-####'});
                  $("#telefone2").jqxMaskedInput({ width: 120, height: 25, mask: '(##) #####-####'});
                 $("#rg").jqxMaskedInput({ mask: '#############'});
                 $("#orgaoexp").jqxInput({  width: '70px', height: '20px' });
                 $("#cpfcnpj").jqxMaskedInput({ mask: '##################'});
                 $("#email").jqxInput({  width: '300px', height: '20px' });
                 $("#nacionalidade").jqxInput({  width: '200px', height: '20px' });
                 $("#naturalidade").jqxInput({  width: '200px', height: '20px' });
                 $("#cep").jqxMaskedInput({ width: 100, height: 25, mask: '##.###-###'});
                 $("#rua").jqxInput({  width: '300px', height: '20px' });
                 $("#numero").jqxMaskedInput({ width: '50px', height: '20px'});
                 $("#complemento").jqxInput({  width: '300px', height: '20px' });
                 $("#observacoes").jqxInput({  width: '400px', height: '100px' });



                var data = {}
                data["AC"]="Acre";
                data["AL"]="Alagoas";
                data["AM"]="Amazonas";
                data["AP"]="Amapá";
                data["BA"]="Bahia";
                data["CE"]="Ceará";
                data["DF"]="Distrito Federal";
                data["ES"]="Espirito Santo";
                data["GO"]="Goiás";
                data["MA"]="Maranhão";
                data["MG"]="Minas Gerais";
                data["MS"]="Mato Grosso do Sul";
                data["MT"]="Mato Grosso";
                data["PA"]="Pará";
                data["PB"]="Paraíba";
                data["PE"]="Pernambuco";
                data["PI"]="Piauí";
                data["PR"]="Paraná";
                data["RJ"]="Rio de Janeiro";
                data["RN"]="Rio Grande do Norte";
                data["RO"]="Rondônia";
                data["RR"]="Roraima";
                data["RS"]="Rio Grande do Sul";
                data["SC"]="Santa Catarina";
                data["SE"]="Sergipe";
                data["SP"]="São Paulo";
                data["TO"]="Tocantin";

                $("#estado").jqxDropDownList({source: data, width: '200', theme: 'energyblue', height: '25'});

                var contatipo={}
                contatipo['adm'] = 'Administrador';
                contatipo['aluno'] = 'Aluno';
                contatipo['secretaria'] = 'Secretaria';
                contatipo['Professor'] = 'Professor';
                $("#tipo").jqxDropDownList({source: contatipo, width: '150', theme: 'energyblue', height: '25'});


                $('#estado').on('select', function (event) {
                    var args = event.args;

                    if (args) {
                        var item = args.item;
                        var url = "/cities/estado="+item.label;
                        // prepare the data
                        var source =
                        {
                            datatype: "json",
                            datafields: [
                                { name: 'id' },
                                { name: 'nome' }
                            ],
                            url: url,
                            async: false
                        };

                        var dataAdapter = new $.jqx.dataAdapter(source);
                        $("#cidade").jqxDropDownList({source: dataAdapter,  displayMember: "nome", valueMember: "id", width: '200', theme: 'energyblue', height: '25'});
                    }
                 });

{#                 $('#cidade').on('select', function (event) {#}
{#                    var args = event.args;#}
{##}
{#                    if (args) {#}
{#                        var item = args.item;#}
{#                        var Estado = $("#estado").val();#}
{#                        var url = encodeURI("/bairros/estado="+Estado+"/cidade="+item.label);#}
{##}
{#                        // prepare the data#}
{#                        var source =#}
{#                        {#}
{#                            datatype: "json",#}
{#                            datafields: [#}
{#                                { name: 'id' },#}
{#                                { name: 'nome' }#}
{#                            ],#}
{#                            url: url,#}
{#                            async: false#}
{#                        };#}
{##}
{#                        var dataAdapter = new $.jqx.dataAdapter(source);#}
{#                        $("#bairro").jqxComboBox({source: dataAdapter,  displayMember: "nome", valueMember: "id", width: '200', theme: 'energyblue', height: '25'});#}
{#                    }#}
{#                 });#}


              $('#cidade').on('select', function (event) {
                    var args = event.args;
                    var dataN = Array();
                    dataN.push('');

                    if (args) {
                        var item = args.item;
                        var Estado = $("#estado").val();

                        $.ajax({
                                url:  "/bairros",
                                data: {
                                    "estado": Estado,
                                    "cidade": item.label,
                                     csrfmiddlewaretoken: '{{ csrf_token }}'
                                },
                                cache: false,
                                type: "POST",
                                datatype: 'json',
                                async: false,
                                success: function(response) {
                                    for ( var i = 0; i < response.length; i++ ) {
                                       dataN.push(response[i].nome);
                                       console.log( response[i].nome );
                                    }
                                }
                        });

                        console.log("Tamanaho: "+ dataN.length);

                       $("#bairro").jqxComboBox({ source: dataN, selectedIndex: 0, width: '200', height: '25'});
                    }
                 });
            });

        $('#bairro').on('select', function (event) {
                    var args = event.args;
                    var dataNRuas = Array();
                    dataNRuas.push("");

                    if (args) {
                        var item = args.item;
                        var Estado = $("#estado").val();
                        var Cidade = $("#cidade").val();

                        $.ajax({
                                url:  "/ruas",
                                data: {
                                    "estado": Estado,
                                    "cidade": Cidade,
                                    "bairro": item.label,
                                     csrfmiddlewaretoken: '{{ csrf_token }}'
                                },
                                cache: false,
                                type: "POST",
                                datatype: 'json',
                                async: false,
                                success: function(response) {
                                    for ( var i = 0; i < response.length; i++ ) {
                                       dataNRuas.push(response[i].nome);
                                       console.log( response[i].nome );
                                    }
                                }
                        });

                        console.log("Tamanaho dataN: "+ dataNRuas.length);

{#                        var ruaAt = $("#rua").val();#}


                        if (dataNRuas.length > 1) {
{#                            console.log('Rua len: '+ruaAt.length+ ' Rua: '+ ruaAt);#}
{#                            if(ruaAt.length == 0) {#}
                                $("#ruatemp").html("<div id='rua'></div>");
                                console.log('Replaced');
                                $("#rua").jqxComboBox({ source: dataNRuas, selectedIndex: 0, width: '250', height: '25'});
                                setRualistener();
                        }
                    }
                 });

         function setRualistener() {
             $('#rua').on('select', function (event) {
                    var args = event.args;
                    var dataNRuas = Array();

                    if (args) {
                        var item = args.item;
                        var Estado = $("#estado").val();
                        var Cidade = $("#cidade").val();
                        var Bairro = $("#bairro").val();

                        $.ajax({
                                url:  "/cep",
                                data: {
                                    "estado": Estado,
                                    "cidade": Cidade,
                                    "bairro": Bairro,
                                    "rua": item.label,
                                     csrfmiddlewaretoken: '{{ csrf_token }}'
                                },
                                cache: false,
                                type: "POST",
                                datatype: 'json',
                                async: false,
                                success: function(response) {
                                    $('#cep').jqxMaskedInput({value: response.cep });
                                }
                        });
                    }
                 });
         }

        setRualistener();

        {{ aditionscript|safe }}

       </script>
{% endblock %}