{% extends 'base.html' %}

{% block content %}

        <input type="hidden" id="idaluno" value="{{ prof.user.id }}" />

        <form method="POST" action="{{ actionform }}">
            {% csrf_token %}
            <div id='infosgerais' style=" font-size: 13px; font-family: Verdana;">
                <div style=''>
                    <h3>Informações Gerais</h3></div>
                <!--Content-->
                <div style='white-space: nowrap;'>
                    <table border="0">
                        <tr>
                            <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Nome: </div></td>
                            <td><input type="text" id="nome" name='nome' /></td>
                        </tr>
                        <tr>
                            <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Mãe: </div></td>
                            <td><input type="text" id="mae" name='mae' /></td>
                        </tr>
                        <tr>
                            <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Pai: </div></td>
                            <td><input type="text" id="pai" name='pai' /></td>
                        </tr>
                        <tr>
                            <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Nascimento: </div></td>
                            <td><div id="nascimento" name="nascimento"></div> </td>
                        </tr>
                         <tr>
                            <td><div style='font-size: 13px; font-family: verdana; '>Nacionalidade: </div></td>
                            <td><input type="text" id="nacionalidade" name='nacionalidade' /></td>
                        </tr>
                        <tr>
                            <td><div style='font-size: 13px; font-family: verdana; '>Naturalidade: </div></td>
                            <td><input type="text" id="naturalidade" name='naturalidade' /></td>
                        </tr>
                        <tr>
                            <td><div style='font-size: 13px; font-family: verdana; '>Tipo Conta: </div></td>
                            <td><div id="tipo" name="tipo" /></td>
                        </tr>
                    </table>
                </div>
            </div>

        <br />

             <div id='jqxtabs'>
        <ul style='margin-left: 20px;'>
                <li>Informações para Contato</li>
                <li>Documentos</li>
                <li>Dados das Matrículas</li>
            </ul>
            <div>
                <table border="0">
                    <tr>
                        <td style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Telefone: </div></td>
                        <td><input type="text" id="telefone1" name='telefone1' /></td>
                    </tr>
                    <tr>
                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Telefone: </div></td>
                        <td><input type="text" id="telefone2" name='telefone2' /></td>
                    </tr>

                    <tr>
                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Estado: </div></td>
                        <td> <div id="estado" name='estado' ><input type="hidden" name="estado" /> </div>

                    </tr>
                    <tr>
                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Cidade: </div></td>
                        <td><div id="cidadetemp"> <div id="cidade" name='cidade'><input type="hidden" name="cidade" /> </div> </div></td>
                    </tr>

                    <tr>
                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Bairro: </div></td>
                        <td><div id="bairro" name='bairro'><input type="hidden" name="bairro" /></div> </td>
                    </tr>

                    <tr>
                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>Rua: </div></td>
                        <td><div id="rua" name='rua' ><input type="text" name='rua' /></div></td>
                    </tr>
                    <tr>
                        <td><div style='font-size: 13px; font-family: verdana; '>Número: </div></td>
                        <td><input type="text" id="numero" name='numero' /></td>
                    </tr>
                    <tr>
                        <td  style="width: 120px;"><div style='font-size: 13px; font-family: verdana; '>CEP: </div></td>
                        <td><input type="text" id="cep" name='cep' /></td>
                    </tr>
                    <tr>
                        <td><div style='font-size: 13px; font-family: verdana; '>Complemento: </div></td>
                        <td><input type="text" id="complemento" name='complemento' /></td>
                    </tr>
                    <tr>
                        <td><div style='font-size: 13px; font-family: verdana; '>E-mail: </div></td>
                        <td><input type="text" id="email" name='email' /></td>
                    </tr>
                    <tr>
                        <td><div style='font-size: 13px; font-family: verdana; vertical-position: top; '>Observações: </div></td>
                        <td><textarea id="observacoes" name='observacoes'>{{ prof.observacoes|safe }}</textarea></td>
                    </tr>
                </table>
            </div>
            <div>
                <table border="0">
                    <tr>
                        <td><div style='font-size: 13px; font-family: verdana; '>RG: </div></td>
                        <td><input type="text" id="rg" name='rg' /></td>
                    </tr>
                    <tr>
                        <td><div style='font-size: 13px; font-family: verdana; '>Orgao Expeditor: </div></td>
                        <td><input type="text" id="orgaoexp" name='orgaoexp' /></td>
                    </tr>
                    <tr>
                        <td><div style='font-size: 13px; font-family: verdana; '>CPF/CNPJ: </div></td>
                        <td><input type="text" id="cpfcnpj" name='cpfcnpj' /></td>
                    </tr>

                </table>
            </div>
            <div>
                <table border="0">
                   <tr>
                      <td><input type="button" value="Edit" id="btnEdit" /> <input type="button" value="Adicionar" id="btnAddMatricula" /></td>
                    </tr>
                    <tr>
                        <td >
                            <div id="tableMatriculas"></div>
                            <br />
                            <table border="0">
                                <tr>
                                    <td><input type="button" id="btnBoletim" value="Boletim" /></td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td><input type="button" id="btnEditSit" value="Edit" /></td>
                                                <td><input type="button" id="btnAddSit" value="Adicionar" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div id="turmasaluno"></div></td>
                                    <td><div id="situacaomatricula"></div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <br />

        <input id="submit" type="submit" value="Salvar" />
    </form>




        <div id="matriculaturma">
         <div id="windowHeader">
             <span>
                Matricular este aluno em um curso
             </span>
         </div>

         <div style="overflow: hidden;" id="windowContent">
             <div style="padding-top: 15px;"></div>
             <table border="0">
                 <tr>
                     <td><div style='font-size: 13px;  font-family: verdana; '>Curso: </div></td>
                     <td><div id="curso"></div> </td>
                 </tr>
                 <tr>
                     <td><div style='font-size: 13px; font-family: verdana; '>Data de Matrícula: </div></td>
                     <td> <div id="dataMatricula" name="dataMatricula"></div>  </td>
                 </tr>

                 <tr>
                     <td><div style='font-size: 13px; font-family: verdana; '>Atual: </div></td>
                     <td> <div id="atual"> </div>  </td>
                 </tr>

                 <tr>
                     <td></td>
                     <td><input type="button" id="btnSaveAluno" value="Salvar" /></td>
                 </tr>
             </table>
         </div>
      </div>



    <div id="changesit">
         <div id="windowHeader">
             <span>
                Mudar a situação da matrícula
             </span>
         </div>

         <div style="overflow: hidden;" id="windowContent">
             <div style="padding-top: 15px;"></div>
             <table border="0">
                 <tr>
                     <td><div style='font-size: 13px;  font-family: verdana; '>Situação: </div></td>
                     <td><div id="sitmatri"></div> </td>
                 </tr>
                 <tr>
                     <td><div style='font-size: 13px; font-family: verdana; '>Data da mudança: </div></td>
                     <td> <div id="datamud" name="datamud"></div>  </td>
                 </tr>
                 <tr>
                     <td></td>
                     <td><input type="button" id="btnMudanca" value="Salvar" /></td>
                 </tr>
             </table>
         </div>
      </div>




  <script type="text/javascript">

        var cursosData = new Array();
        {% for i in cursos %}
            cursosData[{{ i.id }}]="{{i.id}}-{{ i.nome }}-{{ i.anoGrade }}";
        {% endfor %}

        var situacaoMatricula = ['Matriculado', 'Transferido', 'Desistente', 'Trancado', 'Concluido'];
        var turmaAluno = -1;

        var rowIndex = -1;
        var idedit = '';
        var idchange = '';
        var rowSituacao= -1;

         $(document).ready(function () {

                $('#jqxtabs').jqxTabs({ width: 900, height: 440 });
                $("#atual").jqxCheckBox({ width: 80, height: 25, checked: true });

                // Window Mudança de situação da matrícula
                $("#changesit").hide();
                $("#datamud").jqxDateTimeInput({ width: '250px', height: '25px' });
                $("#sitmatri").jqxDropDownList({source: situacaoMatricula, width: '400', height: '25'});


                $("#curso").jqxDropDownList({source: cursosData, width: '400', height: '25'});
                $("#dataMatricula").jqxDateTimeInput({ width: '250px', height: '25px' });
                $("#matriculaturma").hide();

                $("#submit").jqxButton();
                $("#btnMudanca").jqxButton();
                $("#btnBoletim").jqxButton();

                $("#btnBoletim").on("click", function() {
                    window.open("/alunoBoletim/"+turmaAluno+"/"+$("#idaluno").val());
                });


                $("#nome").jqxInput({  width: '400px', height: '20px' });
                $("#mae").jqxInput({  width: '400px', height: '20px' });
                $("#pai").jqxInput({  width: '400px', height: '20px' });
                $("#nascimento").jqxDateTimeInput({ width: '250px', height: '25px' });

                $("#telefone1").jqxMaskedInput({ width: 120, height: 25, mask: '(##) #####-####'});
                $("#telefone2").jqxMaskedInput({ width: 120, height: 25, mask: '(##) #####-####'});
                $("#rg").jqxMaskedInput({ mask: '#############', width:130});
                $("#orgaoexp").jqxInput({  width: '70px', height: '20px' });
                $("#cpfcnpj").jqxMaskedInput({ mask: '##################', width:130});
                $("#email").jqxInput({  width: '300px', height: '20px' });
                $("#nacionalidade").jqxInput({  width: '200px', height: '20px' });
                $("#naturalidade").jqxInput({  width: '200px', height: '20px' });
                $("#cep").jqxMaskedInput({ width: 100, height: 25, mask: '##.###-###'});
                $("#rua").jqxComboBox({  width: '300px', height: '20px' });
                $("#numero").jqxMaskedInput({ width: '50px', height: '20px'});
                $("#complemento").jqxInput({  width: '300px', height: '20px' });
                $("#observacoes").jqxInput({  width: '400px', height: '100px' });

                var data = {}
                data["AC"]="Acre";
                data["AL"]="Alagoas";
                data["AM"]="Amazonas";
                data["AP"]="Amapá";
                data["BA"]="Bahia";
                data["CE"]="Ceará";
                data["DF"]="Distrito Federal";
                data["ES"]="Espirito Santo";
                data["GO"]="Goiás";
                data["MA"]="Maranhão";
                data["MG"]="Minas Gerais";
                data["MS"]="Mato Grosso do Sul";
                data["MT"]="Mato Grosso";
                data["PA"]="Pará";
                data["PB"]="Paraíba";
                data["PE"]="Pernambuco";
                data["PI"]="Piauí";
                data["PR"]="Paraná";
                data["RJ"]="Rio de Janeiro";
                data["RN"]="Rio Grande do Norte";
                data["RO"]="Rondônia";
                data["RR"]="Roraima";
                data["RS"]="Rio Grande do Sul";
                data["SC"]="Santa Catarina";
                data["SE"]="Sergipe";
                data["SP"]="São Paulo";
                data["TO"]="Tocantin";

                $("#estado").jqxDropDownList({source: data, width: '200', theme: 'energyblue', height: '25'});

                var contatipo={};
                contatipo['adm'] = 'Administrador';
                contatipo['aluno'] = 'Aluno';
                contatipo['secretaria'] = 'Secretaria';
                contatipo['Professor'] = 'Professor';
                $("#tipo").jqxDropDownList({source: contatipo, width: '150', theme: 'energyblue', height: '25'});




                function setEstado() {
                    $('#estado').on('change', function (event) {
                        var args = event.args;

                        if (args) {
                            //var item = args.item;
                           // var url = "/cities/estado="+item.label;
                            // prepare the data
                           // var source =
                         //   {
                           //     datatype: "json",
                          //      datafields: [
                          //          { name: 'id' },
                          //          { name: 'nome' }
                         //       ],
                           //     url: url,
                           //     async: false
                          //  };

                            //var dataAdapter = new $.jqx.dataAdapter(source);
                            //$("#cidade").jqxDropDownList({source: dataAdapter,  displayMember: "nome", valueMember: "nome", width: '200', theme: 'energyblue', height: '25'});


                            var dataN = Array();
                            dataN.push('');
                            var Estado = $("#estado").val();
                            $.ajax({
                                    url:  "/cities",
                                    data: {
                                        "estado": Estado,
                                         csrfmiddlewaretoken: '{{ csrf_token }}'
                                    },
                                    cache: false,
                                    type: "POST",
                                    datatype: 'json',
                                    async: false,
                                    success: function(response) {
                                        for ( var i = 0; i < response.length; i++ ) {
                                           dataN.push(response[i].nome);
                                           console.log( response[i].nome );
                                        }
                                    }
                            });

                            // Desabilitando os listener e limpando
                            $("#cidade").off('change');
                            $("#cidade").val('');
                            $("#bairro").off('change');
                            $("#bairro").jqxComboBox('clear');

                            $("#rua").off('change');
                            $("#rua").jqxComboBox('clear');


                            $("#cep").val('');

                           $("#cidade").jqxDropDownList({ source: dataN, width: '200', height: '25'});
                           setCidade();
                        }
                     });
              }


             function setCidade() {
                  $('#cidade').on('change', function (event) {
                        var args = event.args;
                        var dataN = Array();
                        dataN.push('');

                        if (args) {
                            var item = args.item;
                            var Estado = $("#estado").val();

                            $.ajax({
                                    url:  "/bairros",
                                    data: {
                                        "estado": Estado,
                                        "cidade": item.label,
                                         csrfmiddlewaretoken: '{{ csrf_token }}'
                                    },
                                    cache: false,
                                    type: "POST",
                                    datatype: 'json',
                                    async: false,
                                    success: function(response) {
                                        for ( var i = 0; i < response.length; i++ ) {
                                           dataN.push(response[i].nome);
                                           console.log( response[i].nome );
                                        }
                                    }
                            });



                            $("#bairro").off('change');
                            $("#bairro").jqxComboBox('clear');

                            $("#rua").off('change');
                            $("#rua").jqxComboBox('clear');


                            $("#cep").val('');


                           $("#bairro").jqxComboBox({ source: dataN,  width: '200', height: '25'});

                            setBairro();
                        }
                     });
             }

         function setBairro() {

             $('#bairro').on('change', function (event) {
                 var args = event.args;
                 var dataNRuas = Array();
                 dataNRuas.push("");

                 if (args) {
                     var item = args.item;
                     var Estado = $("#estado").val();
                     var Cidade = $("#cidade").val();

                     $.ajax({
                         url: "/ruas",
                         data: {
                             "estado": Estado,
                             "cidade": Cidade,
                             "bairro": item.label,
                             csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                         cache: false,
                         type: "POST",
                         datatype: 'json',
                         async: false,
                         success: function (response) {
                             for (var i = 0; i < response.length; i++) {
                                 dataNRuas.push(response[i].nome);
                                 console.log(response[i].nome);
                             }
                         }
                     });


                    $("#rua").off('change');
                    $("#rua").val('');

                    $("#cep").val('');
                    $("#rua").jqxComboBox({ source: dataNRuas, width: '250', height: '25'});
                    setRua();
                 }
             });
         }


         function setRua() {
             $('#rua').on('change', function (event) {
                    var args = event.args;
                    var dataNRuas = Array();

                    if (args) {
                        var item = args.item;
                        var Estado = $("#estado").val();
                        var Cidade = $("#cidade").val();
                        var Bairro = $("#bairro").val();

                        $.ajax({
                                url:  "/cep",
                                data: {
                                    "estado": Estado,
                                    "cidade": Cidade,
                                    "bairro": Bairro,
                                    "rua": item.label,
                                     csrfmiddlewaretoken: '{{ csrf_token }}'
                                },
                                cache: false,
                                type: "POST",
                                datatype: 'json',
                                async: false,
                                success: function(response) {
                                    try {
                                     $('#cep').jqxMaskedInput({value: response.cep });
                                    }
                                    catch(err) {
                                        console.log('erro firefox');
                                    }
                                }
                        });
                    }
                 });
         }


        setEstado();
        setCidade();
        setBairro();
        setRua();

        $('#nome').jqxInput('val', "{{ prof.nome|safe }}");
        $('#pai').jqxInput('val', "{{ prof.pai|safe }}");
        $('#mae').jqxInput('val', "{{ prof.mae|safe }}");

         try {
{#             var date = new Date();#}
{#             var data = '{{ curso.nascimento|safe }}';#}
{##}
{#             var day = data.split('-')[2].split(' ')[0];#}
{#             var month = data.split('-')[1];#}
{#             var year = data.split('-')[0];#}
{#             date.setFullYear(parseInt(year), parseInt(month) -1 ,parseInt(day));#}
             $('#nascimento').jqxDateTimeInput('val', '{{ nascimento|safe }}');
         } catch(err)  {
             console.log('Err');
         }

        $('#telefone1').jqxMaskedInput('val', "{{ prof.telefone1|safe }}");
        $('#telefone2').jqxMaskedInput('val', "{{ prof.telefone1|safe }}");
        $('#rg').jqxMaskedInput('val', '1{{ prof.rg|safe }}');
        $('#orgaoexp').jqxInput('val', '{{ prof.orgaoexp|safe }}');
        $('#cpfcnpj').jqxMaskedInput('val', '{{ prof.cpfcnpj|safe }}');
        $('#email').jqxInput('val', '{{ prof.email }}');
        $('#nacionalidade').jqxInput('val', "{{ prof.nacionalidade|safe }}");
        $('#naturalidade').jqxInput('val', '{{ prof.naturalidade|safe }}');
        $('#estado').val('{{ prof.estado }}');

        $('#cidade').val("{{ prof.cidade|safe }}");
        $('#bairro').val("{{ prof.bairro|safe }}");
        $('#rua').val("{{ prof.rua|safe }}");
        $('#cep').jqxMaskedInput('val', '{{ prof.cep }}');
        $('#numero').jqxMaskedInput('val', '{{ prof.numero|safe }}');
        $('#complemento').jqxInput('val', "{{ prof.complemento|safe }}");
        $('#tipo').val('{{ prof.tipo }}');

        function fillMatriculas()
        {
            // Grid das Matrículas
            $("#tableMatriculas").jqxGrid('clear');

            var url = "/matriculasAluno";
            // prepare the data
            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'id'},
                    { name: 'idcurso'},
                    { name: 'nome'},
                    { name: 'anograde'},
                    { name: 'datamat', type: 'date'},
                    { name: 'atual'},
                ],
                data: {
                    'id': {{ prof.user.id }},
                     csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: 'POST',
                url: url,
                async: false
            };
            var dataAdapter = new $.jqx.dataAdapter( source );

            $("#tableMatriculas").jqxGrid(
                {
                    width: 800,
                    height: 150,
                    source: dataAdapter,
                    columns: [
                      { text: 'ID', datafield: 'id', hidden: true },
                      { text: 'ID', datafield: 'idcurso', hidden: true },
                      { text: 'Curso', datafield: 'nome', width: 500, editable: false },
                      { text: 'Ano Grade', datafield: 'anograde', width: 80, editable: false },
                      { text: 'Data de Matrícula', datafield: 'datamatdatamat', columntype: 'datetimeinput', cellsformat: 'dd/MM/yyyy'},
                      { text: 'Atual?', datafield: 'atual', width: 60, editable: false,  columntype: 'checkbox' },
                    ]
                }
            );
            $('#tableMatriculas').jqxGrid('hidecolumn', 'id');

             $('#tableMatriculas').on('rowselect', function (event)
            {
                rowIndex = event.args.rowindex;
                fillTurmas();
                fillSituacaoMatricula();
            });
        }

        function fillTurmas()
        {
            // preenchendo os dados da turma
            $("#turmasaluno").jqxGrid('clear');
            var url = "/turmasCursoAluno";
            // prepare the data
            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'id'},
                    { name: 'letra'},
                    { name: 'ano'},
                ],
                data: {
                    'id': {{ prof.user.id }},
                    'idcurso': $('#tableMatriculas').jqxGrid('getcelltextbyid', rowIndex, "idcurso"),
                     csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: 'POST',
                url: url,
                async: false
            };
            var dataAdapter = new $.jqx.dataAdapter( source );

            $("#turmasaluno").jqxGrid(
                {
                    width: 100,
                    height: 150,
                    source: dataAdapter,
                    columns: [
                      { text: 'ID', datafield: 'id', hidden: true },
                      { text: 'Letra', datafield: 'letra', width: 40, editable: false },
                      { text: 'Ano', datafield: 'ano', width: 60, editable: false },
                    ]
                }
            );
            $('#turmasaluno').jqxGrid('hidecolumn', 'id');



            $('#turmasaluno').on('rowselect', function (event)
            {
                turmaAluno = $('#turmasaluno').jqxGrid('getcelltextbyid',  event.args.rowindex, "id");

            });
        }

        function fillSituacaoMatricula()
        {
            // preenchendo os dados da turma
            $("#situacaomatricula").jqxGrid('clear');
            var url = "/situacaoMatricula";
            // prepare the data
            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'id'},
                    { name: 'situacao'},
                    { name: 'data', type: 'date'},
                ],
                data: {
                    'id': {{ prof.user.id }},
                    'idmat': $('#tableMatriculas').jqxGrid('getcelltextbyid', rowIndex, "id"),
                     csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: 'POST',
                url: url,
                async: false
            };
            var dataAdapter = new $.jqx.dataAdapter( source );

            $("#situacaomatricula").jqxGrid(
                {
                    width: 500,
                    height: 150,
                    source: dataAdapter,
                    columns: [
                      { text: 'ID', datafield: 'id', hidden: true },
                      { text: 'Situação', datafield: 'situacao', width: 200, editable: false },
                      { text: 'Data', datafield: 'data', columntype: 'datetimeinput', cellsformat: 'dd/MM/yyyy', width: 120, editable: false },
                    ]
                }
            );
            $('#situacaomatricula').jqxGrid('hidecolumn', 'id');
        }

        fillMatriculas();

        // botoes action
        $("#btnEdit").jqxButton({width: 70});
        $("#btnEditSit").jqxButton({width: 70});
        $("#btnAddSit").jqxButton({width: 70});
        $("#btnAddMatricula").jqxButton({width: 70});
        $("#btnSaveAluno").jqxButton({width: 70});
        $("#btnAddMatricula").off('click');
        $("#btnAddMatricula").on('click', function(event){
            idedit = -1;
            $("#matriculaturma").jqxWindow('open');
        });

        $("#btnEdit").on('click', function(event){
            $("#matriculaturma").jqxWindow('open');
            idedit = $('#tableMatriculas').jqxGrid('getcelltextbyid', rowIndex, "id");
            // Selecte the course
            cursoSel = $('#tableMatriculas').jqxGrid('getcelltextbyid', rowIndex, "idcurso")+'-'+$('#tableMatriculas').jqxGrid('getcelltextbyid', rowIndex, "nome")+'-'+$('#tableMatriculas').jqxGrid('getcelltextbyid', rowIndex, "anograde");

            $("#curso").val(cursoSel);
            $("#atual").jqxCheckBox({ checked: $('#tableMatriculas').jqxGrid('getcelltextbyid', rowIndex, "atual") });
            var dataEdit = $('#tableMatriculas').jqxGrid('getcellvalue', rowIndex, "datamat");
            $("#dataMatricula").jqxDateTimeInput({ value: dataEdit});
        });

        $("#matriculaturma").jqxWindow({ width: 500, height: 200 });


        $("#btnSaveAluno").off('click');
        $("#btnSaveAluno").on('click', function(){
            // a Ajax request
            $.ajax({
                url: "/matricularAluno",
                data: {
                    'id': $("#idaluno").val(),
                    'idmat': idedit,
                    'atual': $("#atual").val(),
                    'idcurso': $("#curso").val().split('-')[0],
                    'dataMatricula': $("#dataMatricula").val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                cache: false,
                type: "POST",
                datatype: 'json',
                async: false,
                success: function (response) {
                    console.log('Cadastrei!!');

                    var respint = parseInt(response);

                    if(respint == 1) {
                        // Close window
                        fillMatriculas();
                        $('#matriculaturma').jqxWindow('close');

                    } else {
                        alert('Erro ao matricular o aluno');
                    }
                }
            }); // end ajax
        }); // end btnSaveAluno


         $("#btnAddSit").on('click', function(evt){
             idchange ='';
             $("#changesit").jqxWindow('open');
         });

          $('#situacaomatricula').on('rowselect', function (event) {
                rowSituacao = event.args.rowindex;
          });

         $("#btnEditSit").on('click', function(evt){
             idchange = $('#situacaomatricula').jqxGrid('getcellvalue', rowSituacao, "id");
             $("#sitmatri").val($('#situacaomatricula').jqxGrid('getcellvalue', rowSituacao, "situacao"));

            var dataEdit = $('#tableMatriculas').jqxGrid('getcellvalue', rowSituacao, "datamat");
            $("#datamud").jqxDateTimeInput({ value: $('#situacaomatricula').jqxGrid('getcellvalue', rowSituacao, "data")});


             $("#changesit").jqxWindow('open');
         });

         $("#changesit").jqxWindow({ width: 500, height: 200 });
         $("#btnMudanca").on('click', function(evt){
             console.log('Eu mudei ');

             // Ajax call to add
              $.ajax({
                url: "/changesituacao",
                data: {
                    'id': idchange,
                    'sitmatri': $("#sitmatri").val(),
                    'datamud': $("#datamud").val(),
                    'idmatricula': $('#tableMatriculas').jqxGrid('getcelltextbyid', rowIndex, "id"),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                cache: false,
                type: "POST",
                datatype: 'json',
                async: false,
                success: function (response) {
                    console.log('Cadastrei a Situação!!');

                    var respint = parseInt(response);

                    if(respint == 1) {
                        // Close window
                        fillSituacaoMatricula();
                        $('#changesit').jqxWindow('close');
                    } else {
                        alert('Erro ao matricular o aluno');
                    }
                }
            }); // end ajax

             // fil table
         });



    }); // end document ready
   </script>

{% endblock %}